<!-- show items with the help of accordian -->
<!-- accordian is the combination cart and collapse -->
<!-- 
<div class="mx-auto mt-3 " style="max-width: 800px;margin: auto;">
 
  <h1 class="text-center hed">List Of Users</h1>
  

    <form #ref="ngForm" (ngSubmit)="getData()">

     
      <div>
        <label for="un"  >Username </label> 
        <input type="text" name="Username" id="un" class="form-control" ngModel autocomplete="off">
        </div>



        <div>
          <label for="db" >date of birth </label> 
          <input type="date" name="dob" id="db" class="form-control" ngModel autocomplete="off" >
          </div>
  

        <div>
          <label for="em" >email </label> 
          <input type="email" name="email" id="em" class="form-control" ngModel autocomplete="off">
          </div>
     
          <button type="submit" class="btn">Register</button>
  

    </form>

    <div class="text-center mt-4 bg-danger pb-1 pt-1 head">
      <h2>List Of Registerd Users</h2>
     
    </div> 
    <hr>

    <div>

    </div>
    <div *ngIf="">
               <h2 class="text-center text-primary">users not found</h2>
     </div>  -->

       <!-- no of accordian item is proportional to length of array  -->
<!--        
 <div class="accordion" id="accordionExample">

  <div class="accordion-item" *ngFor="let v of data;let ind=index" >
    <h2 class="accordion-header" >
      <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#acr'+ind" >
        {{v.Username}}
      </button>
    </h2>
    <div  [attr.id]="'acr'+ind" class="accordion-collapse collapse show"  data-bs-parent="#accordionExample">
      <div class="accordion-body text-center">
        <h6>{{"date of birth"+":"+v.dob}}</h6>
         <h6>{{"Email"+":"+v.email}} <button class="btn bg-danger float-end btn-sm " (click)="delete(ind)" >  <i class="fas fa-trash-alt "></i></button> </h6>

         
          
         
          
      </div>
    </div>
  </div> 

  
 
 
 </div>  -->


<div class="mx-auto mt-3 " style="max-width: 800px;margin: auto;">
 
  <h1 class="text-center hed">List Of Users</h1> 

<!-- here we are not sending object so ng form is not required -->
     <form  (ngSubmit)="getData()">

     
      <div>
        <label for="un"  >Username </label> 
        <input type="text" name="Username" id="un" class="form-control"   [(ngModel)]=data.username >
        </div>



        <div>
          <label for="db" >date of birth </label> 
          <input type="date" name="dob" id="db" class="form-control" [(ngModel)]=data.dob >
          </div>
  

        <div>
          <label for="em" >email </label> 
          <input type="email" name="email" id="em" class="form-control"[(ngModel)]=data.email>
          </div>
     
          <button type="submit" class="btn">Register</button>
  

    </form>

    <div class="text-center mt-4 bg-danger pb-1 pt-1 head">
      <h2>List Of Registerd Users</h2>
     
    </div> 
    <hr>

    <table class="table">
      <thead>
        <th>Username</th>
        <th>date of birth</th>
        <th>email</th>
      </thead>
      <tbody>
        <tr *ngFor="let v of tostore">
          <td >{{v.username}}</td>
          <td >{{v.dob}}</td>
          <td >{{v.email}}</td>
        </tr>
      </tbody>

    </table>

  
 
 
</div>
 

